.button{
    border: none;
    border-radius: 10%;
    background-color: aliceblue;
    color: black;
     position: relative;
     padding: 20px 35px; 
     cursor: pointer;
     font-size: xx-large;
     font-weight: 700;
     overflow: hidden;
}
.card{
    /* background-image: url('imagesfashon/shop_banner_img1.jpg'); */
    width: 50%;
    height: 260px;
    padding: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
   text-align: center;
   padding: 4px;
   position: relative;
   align-items: flex-end;
   justify-content: center;
}
.image{
    width:100%; height:100%
    
}
.card:hover{
    transition: all 1s ease-in-out;
}
